/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: grey;
}

p{
  color:lightsteelblue;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic
}

h1{
  color: darkslateblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
}

h3{
  color: slateblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}
